<div class="container-fluid">
  
  <div class="row" id="background">
      
    <div class="mx-auto col-lg-12 col-md-12 col-xs-12 justify-content-center" id="banner">
      <img class="rounded float-left" src="./assets/avisado_logo.png" alt="">
      <p class="text-center titulo">Museos en México</p>
      <p class="text-center subtitulo">Nuestra guía para que los descubras</p>

    </div>
  </div>
</div>


<!--<div class="container-fluid">
  <div class="row" id="banner">
    <div class="col-lg-1" >
      <img src="./assets/avisado_logo.png" alt="" class="rounded float-left">
    </div>
    <div class="col-lg-8" >
      <p class="text-center titulo">
        Museos en México
      </p>
    </div>
    <div class="col-lg-8">
      <p class="text-center subtitulo">
        Nuestra guía para que los descubras
      </p>
    </div>
  </div>
</div>-->