#map
    position: relative


#filter
    background-color: #0f0f0f
    color white
    font-weight: bold
    font-style: italic
    opacity: 0.48
    width 230px
    padding 15px
    z-index: 10
    position: absolute
    margin-top -350px
    margin-left 50px