<div id="map" style="height:450px" ></div>
<!--categoriesFilter: { group: '' } : categoriesChecked() : false-->
    <div class="custom-controls-stacked" *ngFor="let category of this.categories">
        <label class="custom-control custom-radio">
            <input id="radioStacked4" name="radio-stacked" type="checkbox" 
             [(ngModel)]="category.checked" class="custom-control-input" (click)="selectedCat()" [value]="category.value">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> {{category.value}} </span>
        </label>
    
    </div>