/*.container-fluid
    .row
     #visualization
         margin 30px auto
         width 100%
         height auto
         svg
          .bar
              fill steelblue 
          .bar:hover
              fill brown 

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
*/
.container-fluid
    .row
        #texto
            margin 75px 0 75px auto
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 300;
            fill: #242424;
            text-align: center;
            text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
            cursor: default;
            #azul
                color #3484BB
                font-weight: bold
            #yellow
                color #FF8C27
                font-weight: bold
            #cafe
                color #97665C
                font-weight: bold
            .legend 
                font-family: 'Raleway', sans-serif;
                fill: #333333;
    