<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 offset-lg-3 text-center" id="texto">
      <h3>Nuestro análisis</h3>
      <p>
          En México hay un total de X,XXX museos dedicados a una gran variedad de temas. 90 en total. 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
          Ut wisi enim ad minim veniam, quis nostrud.

      </p>
    </div>
    
    <div class="col-lg-6 mx-auto" id="visualization">
      <app-radialchart></app-radialchart>
      <!--<app-barchart></app-barchart>-->
    </div>
  </div>
</div>

