.container-fluid
    .row
     #visualization
         margin 30px auto
         width 100%
         height auto
         svg
          .bar
              fill steelblue 
          .bar:hover
              fill brown 
