.container-fluid
    #visualization
        background-color: #577399
        margin 30px auto
        width 100%
        height auto
        .bar
            fill steelblue
        .bar:hover
            fill brown 
        .axis--x path
            display none