<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 offset-lg-3 text-center" id="texto">
      <h3>Nuestro análisis</h3>
      <p>
          En México hay un total de X,XXX museos dedicados a una gran variedad de temas. 90 en total. 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
          Ut wisi enim ad minim veniam, quis nostrud.

      </p>
    </div>
    
    <div class="col-lg-6 mx-auto" id="visualization">
      


    </div>
  </div>
  <div class="row">
      <div class="col-lg-6 offset-lg-6">
              <a class="btn btn-primary" routerLink="radialchart"  role="button">Radial Chart</a>
        </div>
        <!--<div class="col-lg-6 offset-lg-6">
            <a class="btn btn-primary" routerLink="radarchart"  role="button">Radar Chart</a>
      </div>-->
      <div class="col-lg-6 offset-lg-6">
          <a class="btn btn-primary" routerLink="barchart"  role="button">Bar Chart</a>
      </div>
  </div>
</div>

