<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 offset-lg-3 text-center" id="texto">
      <h3>Nuestro análisis</h3>
      <p>
          
          Del total de museos que se estudió para este proyecto, los más predominantes son aquellos enfocados en temas de <strong id="azul">historia</strong>,
          <strong id="yellow">arte</strong> y <strong id="cafe">arqueología</strong>.  Existen varios museos
          sin categorías definidas, así como también museos que no están registrados en Google Maps.

      </p>
    </div>
    
    <div class="col-lg-6 mx-auto" id="visualization">
      <app-radialchart></app-radialchart>


    </div>
  </div>
  
</div>

