<div class="container-fluid">
  <div class="row">
    <div class="offset-lg-1 col-lg-10 col-md-6 col-sm-6 justify-content-center">
      <p class="text-center">
        En México hay un total de 1,280 museos dedicados a una gran variedad de temas. 7 en total.
        La finalidad de este proyecto es conocer todos los museos del territorio mexicano,
        su ubicación y categoría.

        La base de datos utilizada fue por parte del Sistema de Información Cultural (SIC), una extensión
        de la secretaría de cultura.

      </p>
    </div>
  </div>
</div>